# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view .file .name[data-name$=\\.json]':[
    {
      'label': 'Open With AnimEditor'
      'command':  'wasp-editor:openfile'
    }
    {
      'label': 'Open With UIEditor'
      'command':  'wasp-editor:uieditor'
    }
  ]
  '.tree-view .file .name[data-name$=\\.ExportJson]':[
    {
      'label': 'Open With AnimEditor'
      'command':  'wasp-editor:openfile'
    }
  ]
  '.tree-view .directory':[
    {
      'label': 'dir2json'
      'command':  'wasp-editor:dir2json'
    }
  ]
# 'menu': [
#   {
#     'label': 'Packages'
#     'submenu': [
#       'label': 'wasp-editor'
#       'submenu': [
#         {
#           'label': 'Toggle'
#           'command': 'wasp-editor:toggle'
#         }
#       ]
#     ]
#   }
# ]
